@import "~normalize.css";
@import "_fonts";

body{
	font-family: 'Roboto', 'sans-serif';
}

h1{
	color: #00496d;
	text-decoration: underline;
}

.logo{
	background-image: url("../assets/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
}